@import '../../page-styles/variables.scss';

//Global Style ----------------------------------

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $-bg;
  color: $-primary;
  font-family: $primary-font;
  font-weight: bold;
  font-size: $font-small;

}
a{
  text-decoration: none;
  color: $-primary;
}
.h1{
  align-self: flex-start;
  padding: 4px;
  margin-bottom: 20px;
  padding-left: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d3d3d35c;
  &>a:first-child{
    margin-right: 10px;
    padding-left: 10px;
    border-left: 2px solid lightgreen;

  }
}

.h3{
  font-size: 14px;
  margin-bottom: 5px;
}
.link{
  border: 1px solid lightgreen;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 300ms;
  margin: 4px;
  color: $-primary
}
.link:hover{
  color: white;
  background-color: lightgreen;
  box-shadow: 1px 0 30px -10px lightgreen; 
}

.dark.link:hover{
  box-shadow: 1px 0 30px -5px #000000;
}
.ctrl-btn{
  opacity: .8;
  box-shadow: unset;
}

.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-sm{
  //min-width: 40%;
  min-height: 60px;
  margin: 10px;
}


.root-cont{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  header.header{
    height: 100px;
    width: 100%;
    background-color: $-cold;
    box-shadow: 0px 0px 10px -5px #050505;
  }
  .content-cont{
    padding: 20px 0;
    flex: 1;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer{
    height: 100px;
    width: 100%;
    background-color: $-cold;
    box-shadow: 0px 0px 10px -5px #050505;
  }
}

.elements-container{
  &:first-child{
    background-color: #201d5e;
    color: white;
  }
  background-color: white;
  border-radius: 20px;
  margin: 40px;
  padding: 30px;
  color: #201d5e;
  .h1{
    color: inherit;
    a{
      color: inherit;
    }
  }
}

//header ----------------------------------------

.header{
  .header-wrapper{
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    
    .logo-cont{
      flex: 1;
    }
    .nav{
      flex: .4;
      .nav-link{
        padding: 0 10px;
      }
    }
    .menu-cont{
      display: none;
      .menu-button{
        padding-right: 20px;
        background-color: unset;
        border: unset;
      }
    }

  }
}

//footer ----------------------------------------

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

//Responsive 

@media only screen and (max-width: 600px){
  .nav{
    display: none;
  }
  .header .header-wrapper .menu-cont{
    display: block;
  }
  .root-cont .content-cont{
    padding: 8px;
    width: 100%;
  }
}

//UI elements page
aside div.row-sm { min-width: 220px;}
.evenly{ justify-content: space-evenly; }
