//color -----------------------------------------

$-dark : #1b262c;
$-blue : #0f4c75;
$-winter : #3282b8;
//$-cold : #bbe1fa;
$-cold : white;
//$-bg : #ddddddce;
$-bg : #f5f5f5;
$-primary : #263646;

//Fonts -----------------------------------------

$primary-font : monospace,helvetica;
$font-xl : 22px;
$font-large : 18px;
$font-small : 16px;
$font-xs : 12px;
